/* Navbar base */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--color-bg-primary);
    display: flex;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;

    .navbar-menus {
        background-color: var(--color-bg-tertiary);
        display: flex;
        align-items: center;
        padding-block: 10px;
        padding-inline: 12px;
        border-radius: 12px;

        .navbar-menu {
            margin-inline: 20px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .navbar-menu:hover {
            transform: scale(1.3);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }
    }
}

/* Responsive (mobile) */
@media (max-width: 768px) {
}
