/* You can add global styles to this file, and also import other style files */
@import './styles/_breakpoints.css';
@import './styles/_variables.css';
@import './styles/_fonts.css';


html, body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  padding: 0px;
  margin: 0px;
}

@media (min-width: var(--md)) {
    /* styles for medium screens */
}

@media (min-width: var(--lg)) {
    /* styles for large screens */
}

@media (min-width: var(--xl)) {
    /* styles for extra large screens */
}

button:hover {
    cursor: pointer;
}

.mikaki-page {
    .mikaki-page-header {
        font-family: "Poppins", "Poppins Placeholder", sans-serif;
        font-size: 90px;
        font-weight: 900;
        line-height: 95%;

        .mikaki-white-header {
            color: white;
        }

        .mikaki-gray-header {
            color: rgba(182, 180, 189, 0.3);
        }
    }

    .whoami-subtext {
        padding-left: 5px;
        padding-top: 12px;
        font-family: "Poppins", "Poppins Placeholder", sans-serif;
        color: rgba(173, 171, 181, 0.8);
        text-align: justify;
        margin-right: 15rem;
        font-size: 16px;
    }
}